/* Sidebar Footer Icons */
#sidebar-footer .d-flex {
  justify-content: space-around !important;
}

/* Topbar Padding */
#topbar-wrapper {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
