/* Sidebar Footer Icons */
#sidebar-footer .d-flex {
  justify-content: space-between !important;
}

/* Topbar Padding */
#topbar .wrapper {
  max-width: 100% !important;
  padding: 0 1.5rem !important;
}
