---
layout: sidebar_layout
---
<div class="post-list">
  {% for post in paginator.posts %}
    {% include post-card.html post=post %}
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">Newer</a>
  {% else %}
    <span class="previous disabled">Newer</span>
  {% endif %}

  <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="next">Older</a>
  {% else %}
    <span class="next disabled">Older</span>
  {% endif %}
</nav>
{% endif %}
